<h1>pharmacist#edit</h1>
<p>Find me in app/views/pharmacist/edit.html.erb</p>
<%= form_tag(:action => 'edit_submit', :id => @editPharmacist[:id]) do %>
<p>First Name:</br><%= text_field_tag :first_name, @editPharmacist[:name_first] %></p>
<p>Last Name:</br><%= text_field_tag :last_name, @editPharmacist[:name_last] %></p>
<%= submit_tag("Save Changes")%>
<% end %>