<h1>Pharmacist#login</h1>
<p>Find me in app/views/pharmacist/login.html.erb</p>
<%= form_tag(:action => 'login_submit') do %>
<p>USERNAME:</br><%= text_field_tag(:username) %></p>
<%= submit_tag("Log In")%>
<% end %><br>
