<h1>Patients#main: Welcome, <%= @firstname %> <%= @lastname %></h1>
<p>Find me in app/views/patients/main.html.erb</p>
<a href="alert">SEND MEDICAL ALERT</a>
<br>
<a href="appointment">Request an appointment</a>
<br>
<a href="/condition/index">View Medical Conditions</a>
<br>
<a href="/history/index">View Medical History</a>
<br>
<a href="/prescription/index">View Prescriptions</a>
<br>
<a href="/visit/index">View Visit History</a>
<br><br>
<a href="logout">Log Out</a>

