<h1>Labwork#edit</h1>
<p>Find me in app/views/labwork/edit.html.erb</p>
<%= form_tag({:action => 'edit_submit', :labwork_id => params[:labwork_id]}, :multipart => true) do %>
<p>Labwork Report File: <%= file_field_tag(:upload_file, :required => true) %></p>
<%= submit_tag("Upload Report")%>
<% end %>
<br>