<h1>Welcome to the MIS</h1>
<p>Find me in app/views/welcome/main.html.erb</p>
<a href="patients/login">Patient Login</a><br><br>
<a href="doctors/login">Doctor Login</a><br><br>
<a href="nurses/login">Nurse Login</a><br><br>
<a href="labstaff/login">Lab Staff Login</a><br><br>
<a href="hspstaffs/login">Healthcare Service Provider Login</a><br><br>
<a href="pharmacist/login">Pharmacist Login</a>
<br><br><br>
<a href="admin/login">Administrator Login</a>