<h1>Admin#main: Welcome,  <%= @firstname %> <%= @lastname %></h1>
<p>Find me in app/views/admin/main.html.erb</p>
<a href="/doctors/index">View Doctors</a><br>
<a href="/patients/index">View Patients</a><br>
<a href="/nurses/index">View Nurses</a><br>
<a href="/labstaff/index">View Lab Staff</a><br>
<a href="/hspstaffs/index">View HSP Staff</a><br>
<a href="/pharmacist/index">View Pharmacists</a><br>
<br><br>
<a href="logout">Log Out</a>
