<h1>Hspstaffs#main: Welcome, <%= @firstname %> <%= @lastname %></h1>
<p>Find me in app/views/hspstaffs/main.html.erb</p>
<a href="/patients/index">View Patients</a>
<br>
<a href="/reports/select">Generate Healthcare Statistical Report</a>
<br><br>
<a href="logout">Log Out</a>
