<h1>Labstaff#main: Welcome, <%= @firstname %> <%= @lastname %></h1>
<p>Find me in app/views/labstaff/main.html.erb</p>
<a href="/labwork/index">View Labwork Requests</a>
<br><br>
<a href="logout">Log Out</a>

