<div class="container welcome-page">
  <div class="row">
    <div class="col-md-12 page-header">
      <h1>Welcome to the MIS</h1>
      <p>Find me in app/views/welcome/main.html.erb</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 main-content">
<a href="patients/login" class="btn btn-primary login-button">Patient Login</a>
<a href="doctors/login" class="btn btn-primary login-button">Doctor Login</a>
<a href="nurses/login" class="btn btn-primary login-button">Nurse Login</a>
<a href="labstaff/login" class="btn btn-primary login-button">Lab Staff Login</a>
<a href="hspstaffs/login" class="btn btn-primary login-button">Healthcare Service Provider Login</a>
<a href="pharmacist/login" class="btn btn-primary login-button">Pharmacist Login</a>
<a href="admin/login" class="btn btn-warning login-button">Administrator Login</a>
      </div>
    </div>
</div>