<h1>Prescription#edit</h1>
<p>Find me in app/views/prescription/edit.html.erb</p>
<%= form_tag(:action => 'edit_submit', :prescription_id => params[:prescription_id]) do %>
<p>Medication:</br><%= text_field_tag(:name, @editPrescription[:name], :required => true) %></p>
<p>Dosage:</br><%= number_field("",:dosage, :value => @editPrescription[:dosage], :required => true, step: 0.01) %></p>
<%= submit_tag("Save Changes")%>
<% end %>