<div class="container entry-content">
  <div class="row">
    <div class="col-md-12 page-header">
      <h1>hspstaffs#edit</h1>
      <p>Find me in app/views/hspstaffs/edit.html.erb</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 register-content">
      <%= form_tag(:action => 'edit_submit', :id => @editHSP[:id]) do %>
      <h4>First Name:</h4><%= text_field_tag(:first_name, @editHSP[:name_first], :required => true) %>
      <h4>Last Name:</h4><%= text_field_tag(:last_name, @editHSP[:name_last], :required => true) %>
      <p style="margin-top:10px;"><%= submit_tag("Save Changes", :class=>'btn btn-primary')%></p>
      <% end %>
    </div>
  </div>
</div>