<h1>Select a Report to Generate:</h1>
<p>You are login as <%= session[:access_id]%></p>
<br>
<a href="/reports/ages">Ages of Registered Patients</a>
<br>
<a href="/reports/genders">Genders of Registered Patients</a>
<br>
<a href="/reports/ethnicities">Ethnicities/Races of Registered Patients</a>
<br>
<a href="/reports/groups">Patient Groups</a>
<br>
<a href="/reports/registration_dates">Patient Registration/Admission Dates</a>
<br>
<a href="/reports/outcomes">Health Outcomes and Conditions</a>